html,
body,
#app {
  height: 100%;
}

.breadcrumb {
  padding: 20px;
}

.box-card {
  margin: 0 20px;
  box-shadow: 0 0 2px 2px rgb(0 0 0 / 5%) !important
}

//
@color: #409eff;
@background-login: #fff;
